/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face{
  font-family: "Pokemon GB";
  src: url("../fonts/PokemonGb-RAeo.ttf");
}
html{
  font-family: "Pokemon GB";
}
body{
 background-image: url("../images/background-image-pokemon.png");
 background-attachment: fixed;
 background-position: auto;
 background-size: cover;
}

h2{
  text-align:center ;
}


 #oak {
    height: 200px;
    width: 200px;
    mix-blend-mode: multiply;
  }

  .hidden, .pokemon {
    display:none;
}
button{
  font-family:"Pokemon GB";

}

input.submit{
  font-family:"Pokemon GB";
}
.column {
  float: left;
  width: 20%;
  padding: 24px;
}

/* Clear floats after the columns */
.row1:after, .row2:after {
  content: "";
  display: table;
  clear: both;
}

/* ul:before{
  content: '';  
  position: absolute;  
  left: 0;  
  top: 50%;  
  display: block;  
  border-right: 5px solid black;  
  border-bottom: 5px solid black;  
  width: 25px;  
  height: 25px;  
  transform: translate(-50%, -50%) rotate(-45deg);
} */

.column:before{
  content:attr(aria-label);
  font-size:120%;
  font-weight:bold;
  margin-left:-15px;
}

button.remove {
  background-color: #E1332D;
}
button#submit {
  float: right;
  background-color: hsl(125, 86%, 46%);
}

#part1{
  background-color: #7bcf66;
  height: 200px;
  width: 800px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 30px;
}
/* #part2{
  background-color: #7bcf66;
  height: 200px;
  width: 300px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 30px;
} */
/* #convo{
  background-color: #7bcf66;
  height: 200px;
  width: 300px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 30px;
} */

#poke-roster {
  background-color: #7bcf66;
  height: 200px;
  width: 355px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 30px;
 
}

#roster:before{
  content:attr(aria-label);
  font-size:120%;
  font-weight:bold;
  padding-right: 20px;
}
.roster{
  list-style-type: decimal;
}
ul#roster li {
  font-size: 1.05em;
  list-style: none;
  padding-right: 20px;
  
  display: flex;
  justify-content: space-between;
}
ul{
  padding-inline-start: 0px;
}
ul#fire {
  background-color: #E1332D;
  box-shadow: 10px 10px grey;
    padding: 25px;
    border-radius: 30px;
    margin-left: 10px;
    
}


ul#water{
  background-color: rgb(41, 61, 240);
  box-shadow: 10px 10px grey;
    padding: 25px;
    border-radius: 30px;
    margin-left: 10px;
}

ul#ghost{
  background-color: rgb(199, 98, 190);
  box-shadow: 10px 10px grey;
    padding: 25px;
    border-radius: 30px;
    margin-left: 10px;
}

ul#electric{
  background-color: goldenrod;
  box-shadow: 10px 10px grey;
    padding: 25px;
    border-radius: 30px;
    margin-left: 10px;
}

ul#rock{
  background-color: rgb(175, 174, 174);
  box-shadow: 10px 10px grey;
  padding: 25px;
  border-radius: 30px;
  margin-left: 10px;
}

ul#grass{
  background-color: green;
 

  box-shadow: 10px 10px grey;
    padding: 25px;
    border-radius: 30px;
    margin-left: 10px;
}

ul#fighting{
  background-color: brown;
  
  box-shadow: 10px 10px grey;
    padding: 25px;
    border-radius: 30px;
    margin-left: 10px;
}

ul#bug{
  background-color: yellowgreen;

  box-shadow: 10px 10px grey;
    padding: 25px;
    border-radius: 30px;
    margin-left: 10px;
}

#choose-pokemon-levels > div {
  background-color: #7bcf66;
  box-shadow: 10px 10px grey;
  padding: 25px;
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 25px;
  justify-content: flex-end;
  width: 350px;
}

img{
mix-blend-mode: multiply;
}


#convo > p{
  background-color: #7bcf66;
  height: 200px;
  width: 600px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 30px;
}

#text-info > p{
  background-color: #7bcf66;
  height: 150px;
  width: 600px;
  box-shadow: 10px 10px grey;
  padding: 10px;
  border-radius: 30px;
}